@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'ivy-mode';
  src: url('./assets/fonts/ivy-mode-9.ttf');
}
@font-face {
  font-family: 'nunito-sans';
  src: url('./assets/fonts/nunito-sans-3.ttf');
}
@font-face {
  font-family: 'poppins';
  src: url('./assets/fonts/poppins.ttf');
}
@font-face {
  font-family: 'spartan-mb-5';
  src: url('./assets/fonts/spartan-mb-5.ttf');
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
a::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: black;
  transition: width 0.3s ease-in-out;
}

a:hover::after {
  width: 100%;
  height: 1px;
  background-color: black;
}
.link {
  cursor: pointer;
}
.link::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: black;
  transition: width 0.3s ease-in-out;
}

.link:hover::after {
  width: 100%;
  height: 1px;
  background-color: black;
}

.border {
  border-width: 1px !important;
}